doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TiDev.kr 201402 Meetup

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(rel='stylesheet', type='text/css', href='styles/ti.css')
    // endbuild

  body
    article#main-article
      section(data-bespoke-state='reveal')
        span.small_title 2014.06.16 tidev.kr 정기모임
        img(src='tidev.png', class="big_badge")
        h1 LONG TIME<br/>NO SEE!
        h3 Titanium MeetUp in Seoul
        //- h5 tidev.kr 정기모임 2014년 6월 16일

      section(data-bespoke-state='reveal')
        h2 시작하겠습니다!
        h3 반갑습니다.

      section(data-bespoke-state='reveal')
        img(src='tidev.png', class="big_badge", width="400px", height="400px")
        h2 tidev.kr is..
        p 한국 타이타늄사용자 모임으로 Javascript로
          br
          | 네이티브 크로스 플랫폼 앱을 만드는 타이타늄을
          br
          | 사용하는 개발자 모임입니다. since 2012.04
        ul
          li 포럼 :
            a(href="http://tidev.kr", target="_blank") http://tidev.kr
          li Facebook Group : 
            a(href="http://tidev.kr/fb", target="_blank") http://fb.tidev.kr

      section(data-bespoke-state='reveal')
        img(src='tidev.png', class="big_badge", width="400px", height="400px")
        h2 tidev.kr MeetUp is ..
        p tidev.kr에서 주최하는 정기 모임입니다. (짝수 월)
          br
          | 누구나 참석이 가능한 세미나 형태의 모임입니다.
          br
          | 발표도 누구나 가능하며 발표자에게는 기념품을 제공하고 있습니다.

      section(data-bespoke-state='hello')
        span.small_title 시작에 앞서..
        h2 인사 나눠요~!
        h4 이름, 간단한 소개와 함께^^
        br
        p 질문. Titanium 하고 계세요?
        


      section(data-bespoke-state='emphatic')
        h2 순서
        ol.lecture_list
          li 
            strong Ti 3.3.0 변화와 개발 팁
            br
            | - 이종은
          li 
            strong 경조사 관리 앱 프로젝트로의 초대
            br
            | - 손병대

      section(data-bespoke-state='whatisthis')
        h2 Ti 3.3.0.RC & Alloy 1.4.0.RC

      section(data-bespoke-state='emphatic')
        h2 Ti 3.3.0 변화와 개발 팁
        ol.lecture_list
          li Android Theme
          li Android MenuItem in Alloy
          li Android windowFlags Property
          li iOS navButton(s) & Shorthand
          li Alloy - font Deep Merge
      
      //- section(data-bespoke-state='reveal')
      //-   h2 Titanium 작동 원리
      //-   p.small_font 아래 slide의 19~39쪽 참고
      //-   <iframe src="http://www.slideshare.net/slideshow/embed_code/26009725" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px 1px 0; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <a href="https://www.slideshare.net/yomybaby/tidev-meetup-in-seoul-201308" title="Titanium 소개 - 당신이 알고 있는 타이타늄 rev.201310" target="_blank">Titanium 소개 - 당신이 알고 있는 타이타늄 rev.201310</a> </div>

      section(data-bespoke-state='success success2')
        h2 Thanks
        p 다음 모임에서 또 만나요
      
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/bespoke-tishadow/dist/bespoke-tishadow.js')
    script(src='bower_components/bespoke-run/dist/bespoke-run.js')
    //- script(src='bower_components/bespoke-jumpy/dist/bespoke-jumpy.js')
    //- script(src='bower_components/bespoke-dir/dist/bespoke-dir.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild